<div class="navigation">
  <form action="/user/<%= @user.id %>" method="get">
    <button type="submit" name="homepage">Return to Homepage</button>
  </form>
  <form action="/user/<%= @user.id %>/browse" method="get">
    <button type="submit" name="browse">Browse Available Properties</button>
  </form>
</div>


<form action="/user/<%= @user.id %>/listings/new" method="post">
  <!-- <input type="text" name="name" placeholder="name"/><br> -->
  <input type="number" name="pricepn" placeholder="nightly rate"/><br>
  <input type="text" name="address" placeholder="address"/><br>
  <input type="number" name="capacity" placeholder="capacity"><br>
  <input type="text" name="description" placeholder="description" id="description"/><br>
  <input type="submit" name="submit" value="Add Property"/><br>
</form>

<div>
  <ul>
    <% @properties.each do |property| %>
    <li><%= property.address %></li>
    <% end %>
  </ul>
</div>
