<h1>welcome to MakersBNB</h1>
<h2>Please sign up</h2>
<form action='/user/new' method='post'>
<input type="text" name="email" placeholder="email"/>
<input type="text" name="username" placeholder="username"/>
<input type="text" name="firstname" placeholder="first name"/>
<input type="text" name="lastname" placeholder="last name"/>
<input type="text" name="password" placeholder="password"/>
<input type="submit" name="submit" value="Sign Up"/>
</form>
