<!DOCTYPE html>
<head>
</head>
<body>
<h1>welcome to MakersBNB</h1>
<h2>Please sign up</h2>
<form action='/user/new' method='post'>
  <table>
    <tr>
      <th>Email</th>
      <td><input type="email" name="email" placeholder="email"/></td>
    </tr>
    <tr>
      <th>Username</th>
      <td><input type="text" name="username" placeholder="username"/></td>
    </tr>
    <tr>
      <th>First name</th>
      <td><input type="text" name="firstname" placeholder="first name"/></td>
    </tr>
    <tr>
      <th>Last name</th>
      <td><input type="text" name="lastname" placeholder="last name"/></td>
    </tr>
    <tr>
      <th>Password</th>
      <td><input type="password" name="password" placeholder="password"/></td>
    </tr>
    <tr>
      <th colspan="2"><input type="submit" name="submit" value="Sign Up"/><th>
    </tr>
  </table>
</form>
</body>
